:root {
	--color-primary: #3b5bdb; /* главный акцент (синий) */
	--color-bg: #f8f9fa;
	--color-text: #212529;

	--font-size-base: 18px;
	--font-size-h1: 32px;
	--font-size-h2: 24px;
	--font-size-h3: 20px;
	--font-size-button: 18px;
}
